In [1]:
import numpy as np
import pandas as pd
#import mysql.connector as mysql
import mysql.connector
from mysql.connector.constants import ClientFlag
pd.set_option('display.max_columns', 500)
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [2]:
daily_dataC = {
  "type": "service_account",
  "project_id": "esp-test-c59db",
  "private_key_id": "0c5ce4efb5564d4e67567f06649a02f6877fbb3e",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCs+tNPwU/kkrjx\nLCMw0nZM1ldcbTk1dGZl2D5HTJscL7J9kXWKay04ZPSejyic9qWZ91I2kt/PcPK2\nTmYfoy1t1blgQ5vPYjLODj+5Qy3jtnQ9gt2EZaH2xTt5UodCBda+YhvIfq2pd4wp\n2EmV4emZkhl855acj1PI8chGyn8P+xIXbcwBV+1E8umUtoeW6VXzShPS5oQLnU1m\nnUNMR6Azm3doF2Gl2VEf+8qwKvY5M1luqIoUeb8wOKe2Gnj9NB2PhaSqVkCJ9SIQ\ncyKiX3dFn1c/F/HUWM3tvXnvaVuhivQDwOJhln4fKl/UwGzfockwJd+jksJdZcCX\ns/d9bVaXAgMBAAECggEAGlI5xfYKu84zrscM58iZUGHWfe2aJJnSBwdGRWp7uRNC\nRrx+ipHPxLgKnPdNsmy5kC8ZEc18REAnPo8OwnD9tavYKbS/8xOPMC7s4A+VM67i\nCzDBl6bbZAW+YgdT0OZl4dG4m+PiywRc40p9D/3bTOSf/5NB0LrigJOB6nu0+ppJ\n+AhEFLJUKCaBRN0+Uk4pFrZnjtSUx7hIYDPSOC+M3/3fyGMCcpNLnMRAjQoc+opL\nGl/gKyBtDF3gBwjcnAU1ptjyud0N5J2zst8g5gj5YtxEuh0NIsUdbiKKNYGzhZpz\nSgggPKD8pGJQd41B8X1gVVGl4vbpqIC9udGGVymZsQKBgQDz8t3AYUBnUQekDJvY\nFyGk7Znc+ReydgLlQP3VwjhqO8Vp73Tlcdr+6M90oVEBUtm2t06aicLAVMiFcw+q\nW/xVcmjNTt//1CO/s6FVAWQB79xeFDYtt79VR7vjHB9HH7bSnxqFWAVBOF3sjmV6\n4+ovqP/b7BQG9JINJd1jvsTQLwKBgQC1hnC07T1q3bsX7ACxcdHbDIejd6n7cjOB\noDbF/i8ViB0dpVVSg/TrtaQDzyLPf1nb014Umil+C5lMz0TMbwKQxiqnlp0VCQCe\nkEKZW8Jjr6c9+SDrP1w03twXkqkdDmvFnY1GpDQumhGuKLZY2FEz2lK2B3LFP3gg\nZS87ccieGQKBgQDdexnjqSgc5U+HnL79cPrlz6bLHghqyYQVem07Xstzf/LbHEHI\ncxd+Kgb3/+IYzozFvCWMXxjHH/KyXmXRqRQuy+HkzQDIN2WBjegi0lFnBMvRSo5p\n8ZKwLaGjL4wiOeP10+fzOpgCv9deh2YRLc4YGVq649rG+dOERmV7Qt9TlwKBgGdo\nfNA0zeYRBkHsacCsDFZy3toakzTwq7LOaCWGVaA4eA2pX9+v2Fhmk1awKy51Z+U4\nlcG6yKRLSztcX97t5lI+8ZGi1T1kcXvixm3Cvgw3xlghkcUxxP9BbbPoEnrA+lgL\nFq4FYMyjbCsAelBGeovFdZTIzXLcYzxhJ/T/LsARAoGBAMBGAHY9WbktJmSQsXcN\nsViUoCdLD11bA9A+zwbar3Q8HNA2u9pCY2MI1cZabu660wMcmP99JRQ4JrnLj5L/\nM2ePVglRyVuAM53qDRzcz766OPz0Isa8HUqrZ4BrImxhMt+eRUnZZ6ebfi5gPJY5\nkiDLSqLcDQ+w3dz5I/A9ExmF\n-----END PRIVATE KEY-----\n",
  "client_email": "dailydata@esp-test-c59db.iam.gserviceaccount.com",
  "client_id": "112925966163185592673",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/dailydata%40esp-test-c59db.iam.gserviceaccount.com"
}



###########
scope = ["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]

credentials = ServiceAccountCredentials.from_json_keyfile_dict(daily_dataC,scope)

In [3]:
gc = gspread.authorize(credentials)
dash_dataset = gc.open("creds")
regulated_sheet = dash_dataset.worksheet('top_provider') #dashboard dataset
top_provider = regulated_sheet.get_all_records()[0]

In [95]:
'''
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "123345",
    database = "reed_top_providersdb"
)

print(db)
'''

# now we establish our connection
db = mysql.connector.connect(**top_provider)
print(db)

<mysql.connector.connection.MySQLConnection object at 0x7f85e8459460>

In [ ]:
############ update #########

In [14]:
gc = gspread.authorize(credentials)
dash_dataset = gc.open("creds")
regulated_sheet = dash_dataset.worksheet('courseLink') #dashboard dataset
top_provider = regulated_sheet.get_all_records()[0]
top_provider

{'user': 'rnd1',
 'password': 'XnV6RiTMBi888nod32fU',
 'host': 'rnd1.wpengine.com',
 'port': 3306,
 'database': 'wp_rnd1'}

In [15]:
# now we establish our connection
db = mysql.connector.connect(**top_provider)
print(db)

InterfaceError: 2003: Can't connect to MySQL server on 'rnd1.wpengine.com:3306' (61 Connection refused)

In [17]:
import mysql.connector

# Replace the database name, username, and password with your own values
mydb = mysql.connector.connect(
  host="rnd1.wpengine.com",
  user="rnd1",
  password="XnV6RiTMBi888nod32fU",
  database="wp_rnd1"
)

mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM wp_posts")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for result in results:
  print(result)

InterfaceError: 2003: Can't connect to MySQL server on 'rnd1.wpengine.com:3306' (61 Connection refused)

In [ ]:
#############

In [96]:
#db.close()

In [97]:
#tables need to update
cursor = db.cursor()
cursor.execute("SHOW tables")
cursor.fetchall()

[('allcategory',),
 ('allcertification',),
 ('coursesinfo',),
 ('coursesubtitle',),
 ('coursetitle',),
 ('dailyupdate',),
 ('ourcoursescategory',)]

In [98]:
#give your input here only
todays_providers_data = "08_Feb_23_all_courses.csv"  #today's top 15 providers dataset name  01_Dec_22_15_providers_3
yesterday_providers_data = "07_Feb_23_all_courses.csv"   #yesterday's top 15 providers datast name
todays_top500_data = "08_Feb_23_top_500_courses.csv" #today's top500 courses dataset name

In [99]:
#read datasets
#todays_data
t1_data = pd.read_csv(f"{todays_providers_data}")

#data format
data_format = pd.read_csv(f"26_Feb_21_15_providers.csv")

#yesterday_data
t0_data = pd.read_csv(f"{yesterday_providers_data}")

#todays top500 courses data
top500_data = pd.read_csv(f"{todays_top500_data}")

#given categories for our top 100 courses
top100_cat = pd.read_csv("top100courses_cat_id.csv")

In [100]:
#As current Reed dataset do not have "cpdProvider" column, so to match with database 
#data format we create a demo column
t1_data['cpdProvider'] = ['na'] * t1_data.shape[0] 
t0_data['cpdProvider'] = ['na'] * t0_data.shape[0]

In [101]:
t1_data = t1_data[data_format.columns]
t0_data = t0_data[data_format.columns]

In [102]:
t1_data.OnDemand = t1_data.OnDemand.fillna(0)

In [103]:
#t1_data[t1_data["OnDemand"] == 1].head()

In [104]:
#t1_data.head()

In [105]:
#t1_data = t1_data[t1_data["offerPrice"]<300]

In [106]:
#t1_data = t1_data[t1_data["isRegulated"]==0]

In [107]:
#t1_data["unitSold"] = [0 if x<=10 else x for x in t1_data["unitSold"]]

In [108]:
#t0_data["unitSold"] = [0 if x<=10 else x for x in t0_data["unitSold"]]

In [109]:
#vaidating todays data
data_ok = 1
match_col = sum(t1_data.columns == t0_data.columns) #need 22
na_inProvider = t1_data[t1_data.courseProvider == 'na'].shape[0] # need < 10
courseId_col = pd.to_numeric(t1_data.courseId, errors="coerce")
null_id = courseId_col.isnull().sum()
null_provider = t1_data.courseProvider.isnull().sum()

if match_col != 23:
    data_ok = 0
    print("issue: match_col")
elif na_inProvider >= 10:
    data_ok = 0
    print("issue: na_inProvider")
elif null_id != 0:
    data_ok = 0
    print("issue: null_id")
elif null_provider != 0:
    data_ok = 0
    print("issue: null_provider")
    
if data_ok == 0:
    raise SystemExit("Todays dataset has some anomallies! solve them first.")

In [110]:
t1_data[t1_data.courseProvider == 'na'].shape[0]

0

In [111]:
#courseId fixing
t1_data.courseId = pd.to_numeric(t1_data.courseId, errors="coerce")

In [112]:
t1_data = t1_data[t1_data.courseId.notnull()]

In [113]:
t1_data = t1_data.astype({'courseId': 'int64'})

In [114]:
#data checking: check if any courseProvider has values 'na'
t1_data[t1_data.courseProvider == 'na'].shape[0]

0

In [115]:
#excluding courses where courseProvider is missing
t1_data = t1_data[t1_data.courseProvider != 'na'].copy()

In [116]:
t1_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87443 entries, 0 to 87442
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            87443 non-null  object
 1   courseId        87443 non-null  int64
 2   courseTitle     87443 non-null  object
 3   courseLink      87443 non-null  object
 4   subtitle        87443 non-null  object
 5   courseProvider  87443 non-null  object
 6   offerPrice      86423 non-null  float64
 7   originalPrice   87443 non-null  int64
 8   unitSold        87443 non-null  int64
 9   category        87443 non-null  object
 10  haveCpd         87443 non-null  int64
 11  cpdPoint        87443 non-null  int64
 12  cpdProvider     87443 non-null  object
 13  awardingBody    87443 non-null  object
 14  qualName        87443 non-null  object
 15  isRegulated     87443 non-null  int64
 16  soldOrEnq       87443 non-null  int64
 17  savingsPercent  87443 non-null  int64
 18  broadCategory1  87443 non-null  object
 19  broadCategory2  87443 non-null  object
 20  subCategory1    87443 non-null  object
 21  subCategory2    87443 non-null  object
 22  OnDemand        87443 non-null  int64
dtypes: float64(1), int64(9), object(13)
memory usage: 16.0+ MB

In [117]:
#Now the task is to clean the data to put int ids for text columns
#And update database tables

#first need to do 3 things in current week data
# 1. cast all wront string columns to numeric to make wrong str values NULL
# 2. calculating unitsold 
# 3. calculating revenue 

#Adding Datacol in both alldiscount dataset
t1_data["Datecol"] = pd.to_datetime(t1_data.date.astype(str), format="%d_%b_%y")
t0_data["Datecol"] = pd.to_datetime(t0_data.date.astype(str), format="%d_%b_%y")



################ ############ ################ ###########
t1_data = t1_data.rename(columns = {'unitSold': 'Totalsold'})

#t1_data = t1_data.rename(columns = {'unitSold': 'Totalsold', "offerPrice": 'offerPrice0'})
#t0_data = t0_data.rename(columns = {'unitSold': 'Totalsold0', 'savingsPercent': 'savingPercent0'})

#############################
# t0_data = t0_data.rename(columns = {'unitSold': 'Totalsold0', 'savingsPercent': 'savingPercent0'})
# t0_data = t0_data[["courseId", "Totalsold0", "savingPercent0"]].copy()

t0_data = t0_data.rename(columns = {'unitSold': 'Totalsold0', "offerPrice": 'offerPrice0', 'savingsPercent': 'savingPercent0'})
t0_data = t0_data[["courseId", "Totalsold0", "offerPrice0", "savingPercent0"]].copy()

################ ############ ################ ###########


#calculating unitsold by subtracting two weeks totalsold, also adding prev offerprice here if
#current saving percent is zero
unitsold_data = pd.merge(t1_data, t0_data, on = "courseId", how="left")
unitsold_data.Totalsold = pd.to_numeric(unitsold_data.Totalsold, errors="coerce")
unitsold_data["unitsold"] = unitsold_data["Totalsold"] - unitsold_data["Totalsold0"]
#unitsold_data.loc[(unitsold_data.savingsPercent == 0), "offerPrice"] = unitsold_data.offerPrice0

############################### updated ############################################
unitsold_data.loc[(unitsold_data.savingsPercent == 0) & (unitsold_data.savingPercent0 != 0), "offerPrice"] = unitsold_data.offerPrice0
unitsold_data.loc[(unitsold_data.savingsPercent == 0) & (unitsold_data.savingPercent0 != 0), "savingsPercent"] = unitsold_data.savingPercent0
unitsold_data.Datecol = unitsold_data.Datecol-np.timedelta64(1, 'D')
#unitsold_data.loc[(unitsold_data.savingsPercent == 0)]

In [118]:
#storing todays data again in the dataset as we have updated offerprice & savings percent here
unitsold_data_new = unitsold_data.copy()
unitsold_data_new = unitsold_data_new.rename(columns = {'Totalsold': 'unitSold'})
unitsold_data_new = unitsold_data_new[data_format.columns]
#unitsold_data_new.to_csv(f"{todays_providers_data}", index = False)

In [119]:
unitsold_data = unitsold_data.drop("savingPercent0", axis = 1)

In [120]:
print(t1_data.shape, unitsold_data.shape)

(87443, 24) (87443, 27)

In [121]:
unitsold_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87443 entries, 0 to 87442
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            87443 non-null  object
 1   courseId        87443 non-null  int64
 2   courseTitle     87443 non-null  object
 3   courseLink      87443 non-null  object
 4   subtitle        87443 non-null  object
 5   courseProvider  87443 non-null  object
 6   offerPrice      80148 non-null  float64
 7   originalPrice   87443 non-null  int64
 8   Totalsold       87443 non-null  int64
 9   category        87443 non-null  object
 10  haveCpd         87443 non-null  int64
 11  cpdPoint        87443 non-null  int64
 12  cpdProvider     87443 non-null  object
 13  awardingBody    87443 non-null  object
 14  qualName        87443 non-null  object
 15  isRegulated     87443 non-null  int64
 16  soldOrEnq       87443 non-null  int64
 17  savingsPercent  81135 non-null  float64
 18  broadCategory1  87443 non-null  object
 19  broadCategory2  87443 non-null  object
 20  subCategory1    87443 non-null  object
 21  subCategory2    87443 non-null  object
 22  OnDemand        87443 non-null  int64
 23  Datecol         87443 non-null  datetime64[ns]
 24  Totalsold0      80910 non-null  float64
 25  offerPrice0     79923 non-null  float64
 26  unitsold        80910 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(8), object(13)
memory usage: 20.7+ MB

In [122]:
#Now here we need to make numeric srting values in calculated columns: offerPrice, originalPrice
#from prev experience we assume that unitsold & Totalsold will always be numeric in original data

unitsold_data.offerPrice = pd.to_numeric(unitsold_data.offerPrice, errors="coerce")
unitsold_data.originalPrice = pd.to_numeric(unitsold_data.originalPrice, errors="coerce")

In [123]:
# 2. calculating revenue 
# revenue formula last updated: 08 oct, 2021
def revenue_cal(sale, prc, isod):
    #print(prc)
    isod = int(isod)
    if isod == 1:
        return (prc/120)*100*0.5*sale
    elif 10<=prc<21:
        return (prc/120)*100*0.25*sale
    elif 21<=prc<100:
        return (prc/120)*100*0.4*sale
    elif 100<=prc<150:
        return (prc/120)*100*0.55*sale
    elif 150<=prc<200:
        return (prc/120)*100*0.6*sale
    elif 200<=prc<300:
        return (prc/120)*100*0.7*sale
    elif 300<=prc<500:
        return (prc/120)*100*0.75*sale
    elif prc >= 500:
        return (prc/120)*100*0.8*sale

unitsold_data["Revenue"] = unitsold_data.apply(lambda x: revenue_cal(x['unitsold'], x['offerPrice'], x["OnDemand"]), axis=1)

In [124]:
# f_data_format = pd.read_csv(f"22_Aug_22_our_sale.csv")
# unitsold_data = unitsold_data[f_data_format.columns]
unitsold_data = unitsold_data[["date","courseId","courseTitle","courseLink","subtitle","courseProvider","offerPrice","originalPrice","Totalsold","category","haveCpd","cpdPoint","cpdProvider","awardingBody","qualName","isRegulated","soldOrEnq","savingsPercent","broadCategory1","broadCategory2","subCategory1","subCategory2","Datecol","Totalsold0","offerPrice0","unitsold","Revenue"]]

In [125]:
a = unitsold_data[unitsold_data["soldOrEnq"] == 1]
a.Revenue.sum()

-97302.38916666669

In [128]:
a = unitsold_data[unitsold_data["Revenue"] > 0]

In [129]:
a[a["soldOrEnq"] == 1].Revenue.sum()

2850.1108333333336

In [130]:
len(a[a["soldOrEnq"] == 1])

330

In [131]:
unitsold_data = unitsold_data[unitsold_data["Revenue"] > 0]

In [132]:
a[a["Revenue"]>100]

,date,courseId,courseTitle,courseLink,subtitle,courseProvider,offerPrice,originalPrice,Totalsold,category,haveCpd,cpdPoint,cpdProvider,awardingBody,qualName,isRegulated,soldOrEnq,savingsPercent,broadCategory1,broadCategory2,subCategory1,subCategory2,Datecol,Totalsold0,offerPrice0,unitsold,Revenue
10,08_Feb_23,293919,CSCS | Online Level 1 Health & Safety in a Con...,https://www.reed.co.uk/courses/cscs--online-le...,"Take the exam from home, Immediate Results, CS...",The Learning Station,99.0,0,879,"Construction safety,CSCS,Health and safety,Con...",0,0,na,City & Guilds,Level 1 Award in Health and Safety in a Constr...,1,0,0.0,CSCS,Construction,Health and safety,A-level courses,2023-02-07,873.0,99.0,6.0,198.000000
19,08_Feb_23,241855,Project Management Placement Programme,https://www.reed.co.uk/courses/project-managem...,includes Recruitment Support and CV Review,ITonlinelearning,995.0,1395,1285,"Project management,Agile,PRINCE2®,Management c...",0,0,na,APM Group Limited,Agile Foundation,0,0,28.0,Agile,PRINCE2®,PRINCE2®,Management courses,2023-02-07,1282.0,1395.0,3.0,1990.000000
39,08_Feb_23,193741,City and Guilds Level 3 Diploma for Residentia...,https://www.reed.co.uk/courses/city-and-guilds...,Ofsted Approved - City and Guilds - Skills for...,The Learning Station,165.0,0,917,"Health & care,Child care,Social care,Teaching ...",0,0,na,City and Guilds of London Institute,Level 3 Diploma for Residential Childcare (Eng...,1,0,0.0,Child care,Health & Social Care courses,Social care,City & Guilds courses,2023-02-07,915.0,165.0,2.0,165.000000
45,08_Feb_23,79084,City and Guilds Level 3 Diploma for the Early ...,https://www.reed.co.uk/courses/city-and-guilds...,City and Guilds Course - Ofsted Approved - Ear...,The Learning Station,165.0,0,1645,"Child care,Early years,Nursery nurse,Teaching ...",0,0,na,City and Guilds of London Institute,Level 3 Diploma for the Children and Young Peo...,1,0,0.0,Early years,City & Guilds courses,Nursery nurse,Level 3 City and Guilds courses,2023-02-07,1641.0,165.0,4.0,330.000000
47,08_Feb_23,237185,PRINCE2® Foundation,https://www.reed.co.uk/courses/prince2-foundat...,**FREE Official PRINCE2 e-Manual** | FREE Exam...,Study365,359.0,499,1666,"Project management,PRINCE2®,Management,PRINCE2...",0,0,na,Axelos (accredited by PEOPLECERT),PRINCE2® Foundation,0,0,28.0,PRINCE2®,Management,Management,PRINCE2® Foundation courses,2023-02-07,1665.0,359.0,1.0,224.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65277,08_Feb_23,56210,Become a Music Teacher - The Music Leader Trai...,https://www.reed.co.uk/courses/become-a-music-...,10 week online course,CM Sounds,396.0,0,147,"Recreational,Music,Music production,Performing...",0,0,na,na,na,0,0,0.0,Music,Music production,Music production,Performing arts,2023-02-07,146.0,396.0,1.0,247.500000
65619,08_Feb_23,80536,Teaching Assistant,https://www.reed.co.uk/courses/teaching-assist...,*Recognised Qualification* | 1-2-1 Tutor Suppo...,The Learning College Group,299.0,499,19,"Education,SEN teaching assistant,Teaching assi...",0,0,na,Training Qualifications UK Ltd,Level 3 Award - Supporting Teaching and Learning,1,0,40.0,SEN teaching assistant,Child care courses,Teaching assistant,SEN courses,2023-02-07,18.0,299.0,1.0,174.416667
68915,08_Feb_23,247771,Network Course: Network Engineer,https://www.reed.co.uk/courses/network-course-...,Practical Experience | CV Review | 11 Professi...,IT Certify,849.0,0,50,"IT,IT support,Networking",0,0,na,CompTIA,CompTIA A+,0,2,0.0,IT support,IT support,Networking,Networking,2023-02-07,49.0,849.0,1.0,566.000000
70626,08_Feb_23,282584,Amadeus Airport Customer Service Agent Check ...,https://www.reed.co.uk/courses/amadeus-airport...,Online course with tutors support and final ex...,Exodus Training and Recruitment,288.0,0,4,"Airport,Airport management,Aviation,Travel & t...",0,0,na,na,na,0,1,0.0,Airport management,Management courses,Aviation,Tourism management courses,2023-02-07,3.0,288.0,1.0,168.000000
86585,08_Feb_23,81930,CACHE Level 3 Award in Health and Social Care,https://www.reed.co.uk/courses/cache-level-3-a...,No subtitle,Online Learning College,340.0,0,443,"Care,Social care,Health & Social Care,Health &...",0,0,na,"Council for Awards in Care, Health and Education",Level 3 Award in Health and Social Care (VRQ),1,0,0.0,Social care,Health & care,Health & Social Care,CACHE courses,2023-02-07,442.0,340.0,1.0,212.500000

In [133]:
#unitsold_data.to_csv("test.csv")

In [134]:
unitsold_data.head()

,date,courseId,courseTitle,courseLink,subtitle,courseProvider,offerPrice,originalPrice,Totalsold,category,haveCpd,cpdPoint,cpdProvider,awardingBody,qualName,isRegulated,soldOrEnq,savingsPercent,broadCategory1,broadCategory2,subCategory1,subCategory2,Datecol,Totalsold0,offerPrice0,unitsold,Revenue
1,08_Feb_23,162300,Food Hygiene Level 2,https://www.reed.co.uk/courses/food-hygiene-le...,Best selling course offering a detailed insigh...,The Training Terminal,12.0,30,15261,"Food safety,Food hygiene,Food science,Health a...",1,1,na,na,na,0,1,60.0,Food hygiene,Catering courses,Food science,The training terminal courses,2023-02-07,15255.0,12.0,6.0,15.0
3,08_Feb_23,314562,Care Certificate,https://www.reed.co.uk/courses/care-certificat...,All 15 Standards | Instant Access |CPD Accredi...,Caredemy,12.0,0,3610,"Social care,Health & Social Care,Healthcare as...",1,17,na,na,na,0,1,0.0,Health & Social Care,Care,Healthcare assistant,Care certificate courses,2023-02-07,3603.0,12.0,7.0,17.5
4,08_Feb_23,271792,Microsoft Excel,https://www.reed.co.uk/courses/microsoft-excel...,Level 3 Diploma | CPD Accredited | PDF & Hardc...,Training Express Ltd,12.0,19,584,"Microsoft Excel,Microsoft Office,Office skills...",1,30,na,na,na,0,1,36.0,Microsoft Office,Business,Office skills,Microsoft courses,2023-02-07,577.0,12.0,7.0,17.5
5,08_Feb_23,274566,Food Hygiene and Safety Level 3,https://www.reed.co.uk/courses/food-hygiene-an...,"Institute of Hospitality Endorsed, CPD Accredi...",Training Express Ltd,12.0,29,10912,"Food safety,Food hygiene,Food science,Health a...",1,15,na,Institute of Hospitality,na,0,1,58.0,Food hygiene,Catering courses,Food science,The training terminal courses,2023-02-07,10902.0,12.0,10.0,25.0
6,08_Feb_23,348218,Health and Social Care,https://www.reed.co.uk/courses/health-and-soci...,Level 3 CPD Accredited Diploma ! Free 3 More C...,IOMH,12.0,28,416,"End of life care,Health & Social Care,Social w...",1,40,na,na,na,0,1,57.0,Health & Social Care,Social care,Social worker,Health & care,2023-02-07,404.0,12.0,12.0,60.0

In [135]:
#unitsold_data.fillna(0).to_csv("25_july_rev.csv")

In [136]:
unitsold_data.isnull().sum()

date              0
courseId          0
courseTitle       0
courseLink        0
subtitle          0
courseProvider    0
offerPrice        0
originalPrice     0
Totalsold         0
category          0
haveCpd           0
cpdPoint          0
cpdProvider       0
awardingBody      0
qualName          0
isRegulated       0
soldOrEnq         0
savingsPercent    0
broadCategory1    0
broadCategory2    0
subCategory1      0
subCategory2      0
Datecol           0
Totalsold0        0
offerPrice0       0
unitsold          0
Revenue           0
dtype: int64

In [137]:
unitsold_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429 entries, 1 to 86610
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            429 non-null    object
 1   courseId        429 non-null    int64
 2   courseTitle     429 non-null    object
 3   courseLink      429 non-null    object
 4   subtitle        429 non-null    object
 5   courseProvider  429 non-null    object
 6   offerPrice      429 non-null    float64
 7   originalPrice   429 non-null    int64
 8   Totalsold       429 non-null    int64
 9   category        429 non-null    object
 10  haveCpd         429 non-null    int64
 11  cpdPoint        429 non-null    int64
 12  cpdProvider     429 non-null    object
 13  awardingBody    429 non-null    object
 14  qualName        429 non-null    object
 15  isRegulated     429 non-null    int64
 16  soldOrEnq       429 non-null    int64
 17  savingsPercent  429 non-null    float64
 18  broadCategory1  429 non-null    object
 19  broadCategory2  429 non-null    object
 20  subCategory1    429 non-null    object
 21  subCategory2    429 non-null    object
 22  Datecol         429 non-null    datetime64[ns]
 23  Totalsold0      429 non-null    float64
 24  offerPrice0     429 non-null    float64
 25  unitsold        429 non-null    float64
 26  Revenue         429 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(7), object(13)
memory usage: 93.8+ KB

In [138]:
#Now we need to get today's top 500 courses prosition & our top 100 category in todays top providers data
top500_data = top500_data.reset_index().rename(columns = {'index': 'position'})
top500_data = top500_data[['courseId', 'position']]
top500_data.position = top500_data.position + 1
unitsold_data = pd.merge(unitsold_data, top500_data, on="courseId", how="left")

In [139]:
#Taking our top 100 category in todays top providers data
top100_cat = top100_cat[['courseId', 'top100_id']]
unitsold_data = pd.merge(unitsold_data, top100_cat, on="courseId", how="left")
unitsold_data.top100_id = unitsold_data.top100_id.fillna(2)

In [140]:
unitsold_data.head()

,date,courseId,courseTitle,courseLink,subtitle,courseProvider,offerPrice,originalPrice,Totalsold,category,haveCpd,cpdPoint,cpdProvider,awardingBody,qualName,isRegulated,soldOrEnq,savingsPercent,broadCategory1,broadCategory2,subCategory1,subCategory2,Datecol,Totalsold0,offerPrice0,unitsold,Revenue,position,top100_id
0,08_Feb_23,162300,Food Hygiene Level 2,https://www.reed.co.uk/courses/food-hygiene-le...,Best selling course offering a detailed insigh...,The Training Terminal,12.0,30,15261,"Food safety,Food hygiene,Food science,Health a...",1,1,na,na,na,0,1,60.0,Food hygiene,Catering courses,Food science,The training terminal courses,2023-02-07,15255.0,12.0,6.0,15.0,74.0,2.0
1,08_Feb_23,314562,Care Certificate,https://www.reed.co.uk/courses/care-certificat...,All 15 Standards | Instant Access |CPD Accredi...,Caredemy,12.0,0,3610,"Social care,Health & Social Care,Healthcare as...",1,17,na,na,na,0,1,0.0,Health & Social Care,Care,Healthcare assistant,Care certificate courses,2023-02-07,3603.0,12.0,7.0,17.5,36.0,2.0
2,08_Feb_23,271792,Microsoft Excel,https://www.reed.co.uk/courses/microsoft-excel...,Level 3 Diploma | CPD Accredited | PDF & Hardc...,Training Express Ltd,12.0,19,584,"Microsoft Excel,Microsoft Office,Office skills...",1,30,na,na,na,0,1,36.0,Microsoft Office,Business,Office skills,Microsoft courses,2023-02-07,577.0,12.0,7.0,17.5,56.0,5.0
3,08_Feb_23,274566,Food Hygiene and Safety Level 3,https://www.reed.co.uk/courses/food-hygiene-an...,"Institute of Hospitality Endorsed, CPD Accredi...",Training Express Ltd,12.0,29,10912,"Food safety,Food hygiene,Food science,Health a...",1,15,na,Institute of Hospitality,na,0,1,58.0,Food hygiene,Catering courses,Food science,The training terminal courses,2023-02-07,10902.0,12.0,10.0,25.0,31.0,5.0
4,08_Feb_23,348218,Health and Social Care,https://www.reed.co.uk/courses/health-and-soci...,Level 3 CPD Accredited Diploma ! Free 3 More C...,IOMH,12.0,28,416,"End of life care,Health & Social Care,Social w...",1,40,na,na,na,0,1,57.0,Health & Social Care,Social care,Social worker,Health & care,2023-02-07,404.0,12.0,12.0,60.0,42.0,2.0

In [141]:
# common data cleaning

# 1. filling all null column with -1 as database restrict uploading null values
unitsold_data.loc[:, ["courseTitle", "subtitle", "category", "broadCategory1", "subCategory1", "cpdProvider", "awardingBody", "qualName"]] = unitsold_data[["courseTitle", "subtitle", "category", "broadCategory1", "subCategory1", "cpdProvider", "awardingBody", "qualName"]].fillna(-1)

# 3. some of the string anomalously comes with len more than 1000
unitsold_data.loc[unitsold_data.cpdProvider.str.len() > 1000, 'cpdProvider'] = -1
unitsold_data.loc[unitsold_data.awardingBody.str.len() > 1000, 'awardingBody'] = -1
unitsold_data.loc[unitsold_data.qualName.str.len() > 1000, 'qualName'] = -1

In [142]:
# Here we have done our first step
# Now we need to insert new values of text columns in database tables excluding dailyupdate
#Tasks: 
#1. update all courseTitles
#2. update all subtitles
#3. update all categories
#4. update broad1sub1category, combine unique values of broadcategory1, broadcategory2 and subcategory1, subcategory2
#5. update certifications, combine unique values of "cpdProvider", "awardingBody", "qualName"
#6. update coursesinfo table with keyword tagging data(before that sort decending by datecold)

In [143]:
unitsold_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429 entries, 0 to 428
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            429 non-null    object
 1   courseId        429 non-null    int64
 2   courseTitle     429 non-null    object
 3   courseLink      429 non-null    object
 4   subtitle        429 non-null    object
 5   courseProvider  429 non-null    object
 6   offerPrice      429 non-null    float64
 7   originalPrice   429 non-null    int64
 8   Totalsold       429 non-null    int64
 9   category        429 non-null    object
 10  haveCpd         429 non-null    int64
 11  cpdPoint        429 non-null    int64
 12  cpdProvider     429 non-null    object
 13  awardingBody    429 non-null    object
 14  qualName        429 non-null    object
 15  isRegulated     429 non-null    int64
 16  soldOrEnq       429 non-null    int64
 17  savingsPercent  429 non-null    float64
 18  broadCategory1  429 non-null    object
 19  broadCategory2  429 non-null    object
 20  subCategory1    429 non-null    object
 21  subCategory2    429 non-null    object
 22  Datecol         429 non-null    datetime64[ns]
 23  Totalsold0      429 non-null    float64
 24  offerPrice0     429 non-null    float64
 25  unitsold        429 non-null    float64
 26  Revenue         429 non-null    float64
 27  position        141 non-null    float64
 28  top100_id       429 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(7), object(13)
memory usage: 100.5+ KB

In [144]:
#Table: coursetitle update
#cursor.execute("describe coursetitle")
#cursor.fetchall()

In [145]:
cursor.execute("select * from coursetitle")
current_title_data = np.array(cursor.fetchall())
todays_title_data = unitsold_data.courseTitle.unique()
new_titles = np.setdiff1d(todays_title_data, current_title_data, assume_unique=True)

values = []

for i in range(new_titles.shape[0]):
    title = str(new_titles[i])
    
    x = tuple([title])
    values.append(x)
values

[('Microsoft Excel : Beginner to Advanced',),
 ('Food Safety and Hygiene Level 3 - CPD Certified',),
 ('Postgraduate Level 7 Unit Certificate in Digital Marketing and Communications',),
 ('Documentation and Record Keeping',),
 ('Business Support Manager',),
 ('Investment Banking Operations - Beginner Level',),
 ('Data Visualisation',),
 ('Medical teaching',),
 ('Pregnancy massage',),
 ('KYC, AML and Data Privacy Regulations - UK',)]

In [146]:
len(values)

10

In [147]:
if values:
    query = "INSERT INTO coursetitle (title) VALUES (%s)"
    cursor.executemany(query, values)
    db.commit()
    print(cursor.rowcount, "records inserted")

10 records inserted

In [148]:
#Table: coursesubtitle update
cursor.execute("select * from coursesubtitle")
current_subtitle_data = np.array(cursor.fetchall())
todays_subtitle_data = unitsold_data.subtitle.unique()
new_subtitles = np.setdiff1d(todays_subtitle_data, current_subtitle_data, assume_unique=True)

values = []
for i in range(new_subtitles.shape[0]):
    subtitle = str(new_subtitles[i])
    
    x = tuple([subtitle])
    values.append(x)
values

[('CPD UK Accredited | Free PDF & HARDCOPY Certificate Included | Free Retake Exam | Lifetime Access',),
 ('CPD Accredited | Flash Deal > FREE [First Module& Reed PDF Certificate] > Lifetime Access > 24/7 Tutor Support',),
 ('CPD UK Certified | Level 3 Diploma on Counselling | 20+ Lessons | 120 CPD Points | Exam & Full Tutor Support',),
 ('FREE Certificates Included | 5-in-1 Bundle OFFER | Premium Quality Video Tutorials | CPD Certified | No Hidden Fees',),
 ('Spring offer On Going | GIFT 2 Courses  + 3 Free PDF Certificates | Unlimited Retake | No Hidden Fees | Lifetime Access',),
 ('4 Courses Bundle | Free Event Management, Time Management and Hospitality Management Course | Lifetime Access',),
 ('Feb Sale now on! | Price Match Guarantee! | New Syllabus | eLearning | Live Online Classes | Study Books',),
 ('24 Hour Flash Sale :  46% Off | 4 in 1 Exclusive Bundle | Free PDF Certificate, Transcript, Student ID & Exam',),
 ('2 Courses Exclusive Bundle + FREE PDF Certificates | 100% Pass Rate | *Winter Sale | Instant Access | 24/7 Live Support',),
 ('Free Heatwave First Aid Course > Free Handouts > Tutor Support > Lifetime Access',),
 ('It is Spring Again | 3 Courses Bundle + 3 Free PDF Certificates | 24/7 Live Support | Lifetime Access',),
 ('Regulated and recognised post 16 teacher training | Fully online | No extra costs | Spread the cost | Formerly PTLLS',),
 ('Feb Sale now on! | eLearning | DMI Membership | Exam | Awarded by The Digital Marketing Institute',),
 ('Feb Sale now on! | eLearning I Foundation Exam Included | Unlimited Tutor Support',),
 ('[XERO] UPDATED 2023 | 5-in-1 Bundle | CPD Accredited | 5 PDF Certificates + 1 Hard-Copy Certificate| Lifetime Access',),
 ('CPD Accredited | Tutor Support & Exam Included | Student ID Card | 1 Year Access | Audio Visual Training',),
 ('Winter Sale Now On | 4 in 1 Exclusive Bundle | PDF Certificate, Transcript, Student ID & Test Included',),
 ('Winter Deal | 4 in 1 Exclusive Bundle | ** 2 More Courses as a Gift ** Free 6 PDF Certificates & Transcript',),
 ('Winter Sale On Going | 3 Courses Mega Bundle | 3 Free PDF Certificates | Unlimited Retake | No Hidden Fees',),
 ('3 Specialised Course Bundle > Free PDF Certificates > No hidden fees > Tutor Support',),
 ('BCS Foundation Award | Data Analysis | Free one year BCS Associate membership and Exam',),
 ('Feb Sale now on! | Virtual Classroom | Includes Yellow & Green Belt Courses & Exams',),
 ('Level 3 Diploma | CPD Certified |  FREE PDF Certificate | FREE Assessment |Tutor Support |Lifetime Access|100% Pass Rate',)]

In [149]:
len(values)

23

In [150]:
if values:
    query = "INSERT INTO coursesubtitle(subtitle) VALUES (%s)"
    cursor.executemany(query, values)
    db.commit()
    print(cursor.rowcount, "records inserted")

23 records inserted

In [151]:
#6. update broad1,2 & sub1,2category, combine unique values of broadcategory1, broadcategory2 and subcategory1, subcategory2
#Table: allcategory update
cursor.execute("select * from allcategory")
current_category_data = np.array(cursor.fetchall())
broad1 = list(unitsold_data.broadCategory1.unique())
broad2 = list(unitsold_data.broadCategory2.unique())
sub1 = list(unitsold_data.subCategory1.unique())
sub2 = list(unitsold_data.subCategory2.unique())
todays_category_data = broad1 + broad2 + sub1 + sub2
todays_category_data = np.array(list(set(todays_category_data)))
new_categories = np.setdiff1d(todays_category_data, current_category_data, assume_unique=True)

values = []
for i in range(new_categories.shape[0]):
    broadcategory = str(new_categories[i])
    
    x = tuple([broadcategory])
    values.append(x)
values

[]

In [152]:
len(values)

0

In [153]:
if values:
    query = "INSERT INTO allcategory(category) VALUES (%s)"
    cursor.executemany(query, values)
    db.commit()
    print(cursor.rowcount, "records inserted")

In [154]:
#7. update certifications, combine unique values of "cpdProvider", "awardingBody", "qualName"
#Table: allcertification update
cursor.execute("select * from allcertification")
current_allcertification_data = np.array(cursor.fetchall())
cpdProvider = list(unitsold_data.cpdProvider.unique())
awardingBody = list(unitsold_data.awardingBody.unique())
qualName = list(unitsold_data.qualName.unique())
cpdProvider.extend(awardingBody)
cpdProvider.extend(qualName)
todays_allcertification_data = np.array(list(set(cpdProvider)))
new_allcertification = np.setdiff1d(todays_allcertification_data, current_allcertification_data, assume_unique=True)

values = []
for i in range(new_allcertification.shape[0]):
    certification = str(new_allcertification[i])
    
    x = tuple([certification])
    values.append(x)
values

[('BCS Foundation Award - Data visualisation',)]

In [155]:
len(values)

1

In [156]:
if values:
    query = "INSERT INTO allcertification(certification) VALUES (%s)"
    cursor.executemany(query, values)
    db.commit()
    print(cursor.rowcount, "records inserted")

1 records inserted

In [157]:
unitsold_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429 entries, 0 to 428
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            429 non-null    object
 1   courseId        429 non-null    int64
 2   courseTitle     429 non-null    object
 3   courseLink      429 non-null    object
 4   subtitle        429 non-null    object
 5   courseProvider  429 non-null    object
 6   offerPrice      429 non-null    float64
 7   originalPrice   429 non-null    int64
 8   Totalsold       429 non-null    int64
 9   category        429 non-null    object
 10  haveCpd         429 non-null    int64
 11  cpdPoint        429 non-null    int64
 12  cpdProvider     429 non-null    object
 13  awardingBody    429 non-null    object
 14  qualName        429 non-null    object
 15  isRegulated     429 non-null    int64
 16  soldOrEnq       429 non-null    int64
 17  savingsPercent  429 non-null    float64
 18  broadCategory1  429 non-null    object
 19  broadCategory2  429 non-null    object
 20  subCategory1    429 non-null    object
 21  subCategory2    429 non-null    object
 22  Datecol         429 non-null    datetime64[ns]
 23  Totalsold0      429 non-null    float64
 24  offerPrice0     429 non-null    float64
 25  unitsold        429 non-null    float64
 26  Revenue         429 non-null    float64
 27  position        141 non-null    float64
 28  top100_id       429 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(7), object(13)
memory usage: 100.5+ KB

In [158]:
#update coursesinfo table
#cursor.execute("describe coursesinfo")
#cursor.fetchall()

In [159]:
#update all coursesinfo
#Table: courseinfo update
#Be concern in data update on database
#check data insertion in values is okay!
cursor.execute("select * from coursesinfo")
current_courses_data = np.array(cursor.fetchall())
todays_courses_data = unitsold_data.courseId.unique()
courseinfo_data = np.setdiff1d(todays_courses_data, current_courses_data[:,0], assume_unique=True)
courseinfo_data = unitsold_data[unitsold_data.courseId.isin(courseinfo_data)]
courseinfo_data = courseinfo_data.drop_duplicates(subset=['courseId'])

values = []
for i in range(courseinfo_data.shape[0]):
    course_id = int(courseinfo_data.iloc[i, 1])
    course_provider = str(courseinfo_data.iloc[i, 5])
    courselink = str(courseinfo_data.iloc[i, 3])
   
    x = tuple([course_id, course_provider, courselink])
    values.append(x)

values

[(382475,
  'One Education',
  'https://www.reed.co.uk/courses/food-safety-and-hygiene-level-3-cpd-certified/382475'),
 (409773,
  'NCC Education',
  'https://www.reed.co.uk/courses/postgraduate-level-7-unit-certificate-in-digital-marketing-and-communications/409773'),
 (415147,
  'HBM Learning Ltd',
  'https://www.reed.co.uk/courses/level-3-award-in-education-and-training/415147'),
 (366089,
  'Cambridge Open Academy',
  'https://www.reed.co.uk/courses/counselling/366089'),
 (379158,
  'Cambridge Open Academy',
  'https://www.reed.co.uk/courses/criminal-law/379158'),
 (389134,
  'Training Express Ltd',
  'https://www.reed.co.uk/courses/business-support-manager/389134'),
 (409573,
  'Knowledgera',
  'https://www.reed.co.uk/courses/public-speaking/409573'),
 (412950,
  'EduCBA',
  'https://www.reed.co.uk/courses/investment-banking-operations-beginner-level/412950'),
 (414456,
  'Learndrive',
  'https://www.reed.co.uk/courses/customer-service/414456'),
 (415057,
  'Duco Digital',
  'https://www.reed.co.uk/courses/data-visualisation/415057'),
 (414613,
  'Course Line',
  'https://www.reed.co.uk/courses/medical-teaching/414613'),
 (413391,
  'Course Line',
  'https://www.reed.co.uk/courses/pregnancy-massage/413391'),
 (391631,
  'NextGen Learning',
  'https://www.reed.co.uk/courses/kyc-aml-and-data-privacy-regulations-uk/391631'),
 (408921,
  'Rise School',
  'https://www.reed.co.uk/courses/maternity-care-assistant/408921')]

In [160]:
len(values)

14

In [161]:
query = "INSERT INTO coursesinfo(course_id, course_provider, courselink) VALUES (%s, %s, %s)"
cursor.executemany(query, values)
db.commit()
print(cursor.rowcount, "records inserted")

14 records inserted

In [162]:
#Table: ourcoursescategory
#currently this table is updated with its required categories & courseIds
#we will update this table if our top 100 courses given mark is changed

In [163]:
#Now we are in 3rd step
#we need to add Id's for text columns
currentday_data = unitsold_data.copy()

In [164]:
currentday_data.shape

(429, 29)

In [165]:
#taking field tables data we need to store weekly changes
cursor.execute("select * from coursetitle")
current_title_data = np.array(cursor.fetchall())
cursor.execute("select * from coursesubtitle")
current_subtitle_data = np.array(cursor.fetchall())
cursor.execute("select * from allcategory")
current_reedallcategory_data = np.array(cursor.fetchall())
cursor.execute("select * from allcertification")
current_allcertification_data = np.array(cursor.fetchall())

In [166]:
#All text data tables data from database
current_title_df = pd.DataFrame(current_title_data, columns=["title_id", "courseTitle"])
current_title_df.loc[current_title_df.courseTitle == "-1", 'courseTitle'] = -1
current_subtitle_df = pd.DataFrame(current_subtitle_data, columns=["subtitle_id", "subtitle"])
current_subtitle_df.loc[current_subtitle_df.subtitle == "-1", 'subtitle'] = -1

current_reedallcategory_df = pd.DataFrame(current_reedallcategory_data, columns=["reedallcategory_id", "reedallcategory"])
current_reedallcategory_df.loc[current_reedallcategory_df.reedallcategory == "-1", "reedallcategory"] = -1
current_allcertification_df = pd.DataFrame(current_allcertification_data, columns=["certification_id", "certification"])
current_allcertification_df.loc[current_allcertification_df.certification == "-1", "certification"] = -1

In [167]:
#current_allcertification_df[current_allcertification_df.certification == "-1"]

In [168]:
current_title_df = current_title_df.drop_duplicates(subset=['courseTitle'])
current_subtitle_df = current_subtitle_df.drop_duplicates(subset=['subtitle'])
current_reedallcategory_df = current_reedallcategory_df.drop_duplicates(subset=['reedallcategory'])
current_allcertification_df= current_allcertification_df.drop_duplicates(subset=['certification'])

In [169]:
currentday_data = pd.merge(currentday_data, current_title_df, on="courseTitle", how="left")
currentday_data = pd.merge(currentday_data, current_subtitle_df, on="subtitle", how="left")

current_reedallcategory_df.rename(columns = {"reedallcategory_id": "broad1_id", "reedallcategory": "broadCategory1"}, inplace = True)
currentday_data = pd.merge(currentday_data, current_reedallcategory_df, on="broadCategory1", how="left")
current_reedallcategory_df.rename(columns = {"broad1_id": "broad2_id", "broadCategory1": "broadCategory2"}, inplace = True)
currentday_data = pd.merge(currentday_data, current_reedallcategory_df, on="broadCategory2", how="left")
current_reedallcategory_df.rename(columns = {"broad2_id": "sub1_id", "broadCategory2": "subCategory1"}, inplace = True)
currentday_data = pd.merge(currentday_data, current_reedallcategory_df, on="subCategory1", how="left")
current_reedallcategory_df.rename(columns = {"sub1_id": "sub2_id", "subCategory1": "subCategory2"}, inplace = True)
currentday_data = pd.merge(currentday_data, current_reedallcategory_df, on="subCategory2", how="left")

current_allcertification_df.rename(columns = {"certification_id": "cpdprovider_id", "certification": "cpdProvider"}, inplace = True)
currentday_data = pd.merge(currentday_data, current_allcertification_df, on="cpdProvider", how="left")
current_allcertification_df.rename(columns = {"cpdprovider_id": "awardingBody_id", "cpdProvider": "awardingBody"}, inplace = True)
currentday_data = pd.merge(currentday_data, current_allcertification_df, on="awardingBody", how="left")
current_allcertification_df.rename(columns = {"awardingBody_id": "qualName_id", "awardingBody": "qualName"}, inplace = True)
currentday_data = pd.merge(currentday_data, current_allcertification_df, on="qualName", how="left")

In [170]:
#currentweek_data.loc[:, ["cpdprovider_id", "awardingBody_id", "qualName_id"]] = 5426

In [171]:
print(f"currentday data shape: {currentday_data.shape}")
currentday_data.head(3)

currentday data shape: (429, 38)

,date,courseId,courseTitle,courseLink,subtitle,courseProvider,offerPrice,originalPrice,Totalsold,category,haveCpd,cpdPoint,cpdProvider,awardingBody,qualName,isRegulated,soldOrEnq,savingsPercent,broadCategory1,broadCategory2,subCategory1,subCategory2,Datecol,Totalsold0,offerPrice0,unitsold,Revenue,position,top100_id,title_id,subtitle_id,broad1_id,broad2_id,sub1_id,sub2_id,cpdprovider_id,awardingBody_id,qualName_id
0,08_Feb_23,162300,Food Hygiene Level 2,https://www.reed.co.uk/courses/food-hygiene-le...,Best selling course offering a detailed insigh...,The Training Terminal,12.0,30,15261,"Food safety,Food hygiene,Food science,Health a...",1,1,na,na,na,0,1,60.0,Food hygiene,Catering courses,Food science,The training terminal courses,2023-02-07,15255.0,12.0,6.0,15.0,74.0,2.0,8513,27495,588,1164,25,991,430,430,430
1,08_Feb_23,314562,Care Certificate,https://www.reed.co.uk/courses/care-certificat...,All 15 Standards | Instant Access |CPD Accredi...,Caredemy,12.0,0,3610,"Social care,Health & Social Care,Healthcare as...",1,17,na,na,na,0,1,0.0,Health & Social Care,Care,Healthcare assistant,Care certificate courses,2023-02-07,3603.0,12.0,7.0,17.5,36.0,2.0,28282,90927,173,49,96,1033,430,430,430
2,08_Feb_23,271792,Microsoft Excel,https://www.reed.co.uk/courses/microsoft-excel...,Level 3 Diploma | CPD Accredited | PDF & Hardc...,Training Express Ltd,12.0,19,584,"Microsoft Excel,Microsoft Office,Office skills...",1,30,na,na,na,0,1,36.0,Microsoft Office,Business,Office skills,Microsoft courses,2023-02-07,577.0,12.0,7.0,17.5,56.0,5.0,987,78876,81,5,12,1029,430,430,430

In [172]:
#Now we are at the final step: will update the cleaned data on database tables
#taking a new variable
reed_data = currentday_data.copy()

In [173]:
reed_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429 entries, 0 to 428
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             429 non-null    object
 1   courseId         429 non-null    int64
 2   courseTitle      429 non-null    object
 3   courseLink       429 non-null    object
 4   subtitle         429 non-null    object
 5   courseProvider   429 non-null    object
 6   offerPrice       429 non-null    float64
 7   originalPrice    429 non-null    int64
 8   Totalsold        429 non-null    int64
 9   category         429 non-null    object
 10  haveCpd          429 non-null    int64
 11  cpdPoint         429 non-null    int64
 12  cpdProvider      429 non-null    object
 13  awardingBody     429 non-null    object
 14  qualName         429 non-null    object
 15  isRegulated      429 non-null    int64
 16  soldOrEnq        429 non-null    int64
 17  savingsPercent   429 non-null    float64
 18  broadCategory1   429 non-null    object
 19  broadCategory2   429 non-null    object
 20  subCategory1     429 non-null    object
 21  subCategory2     429 non-null    object
 22  Datecol          429 non-null    datetime64[ns]
 23  Totalsold0       429 non-null    float64
 24  offerPrice0      429 non-null    float64
 25  unitsold         429 non-null    float64
 26  Revenue          429 non-null    float64
 27  position         141 non-null    float64
 28  top100_id        429 non-null    float64
 29  title_id         429 non-null    object
 30  subtitle_id      429 non-null    object
 31  broad1_id        429 non-null    object
 32  broad2_id        429 non-null    object
 33  sub1_id          429 non-null    object
 34  sub2_id          429 non-null    object
 35  cpdprovider_id   429 non-null    object
 36  awardingBody_id  429 non-null    object
 37  qualName_id      429 non-null    object
dtypes: datetime64[ns](1), float64(8), int64(7), object(22)
memory usage: 130.7+ KB

In [174]:
reed_data = reed_data.fillna(-1)

reed_data.title_id = reed_data.title_id.astype('float')
reed_data.subtitle_id = reed_data.subtitle_id.astype('float')
reed_data.broad1_id = reed_data.broad1_id.astype('float')
reed_data.sub1_id = reed_data.sub1_id.astype('float')
reed_data.broad2_id = reed_data.broad1_id.astype('float')
reed_data.sub2_id = reed_data.sub1_id.astype('float')
reed_data.cpdprovider_id = reed_data.cpdprovider_id.astype('float')
reed_data.awardingBody_id = reed_data.awardingBody_id.astype('float')
reed_data.qualName_id = reed_data.qualName_id.astype('float')

In [175]:
#Now we are at final step to update dailyupdate table
####Next work from here####

In [176]:
#update dailyupdate
#cursor.execute("describe dailyupdate")
#cursor.fetchall()

In [177]:
reed_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429 entries, 0 to 428
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             429 non-null    object
 1   courseId         429 non-null    int64
 2   courseTitle      429 non-null    object
 3   courseLink       429 non-null    object
 4   subtitle         429 non-null    object
 5   courseProvider   429 non-null    object
 6   offerPrice       429 non-null    float64
 7   originalPrice    429 non-null    int64
 8   Totalsold        429 non-null    int64
 9   category         429 non-null    object
 10  haveCpd          429 non-null    int64
 11  cpdPoint         429 non-null    int64
 12  cpdProvider      429 non-null    object
 13  awardingBody     429 non-null    object
 14  qualName         429 non-null    object
 15  isRegulated      429 non-null    int64
 16  soldOrEnq        429 non-null    int64
 17  savingsPercent   429 non-null    float64
 18  broadCategory1   429 non-null    object
 19  broadCategory2   429 non-null    object
 20  subCategory1     429 non-null    object
 21  subCategory2     429 non-null    object
 22  Datecol          429 non-null    datetime64[ns]
 23  Totalsold0       429 non-null    float64
 24  offerPrice0      429 non-null    float64
 25  unitsold         429 non-null    float64
 26  Revenue          429 non-null    float64
 27  position         429 non-null    float64
 28  top100_id        429 non-null    float64
 29  title_id         429 non-null    float64
 30  subtitle_id      429 non-null    float64
 31  broad1_id        429 non-null    float64
 32  broad2_id        429 non-null    float64
 33  sub1_id          429 non-null    float64
 34  sub2_id          429 non-null    float64
 35  cpdprovider_id   429 non-null    float64
 36  awardingBody_id  429 non-null    float64
 37  qualName_id      429 non-null    float64
dtypes: datetime64[ns](1), float64(17), int64(7), object(13)
memory usage: 130.7+ KB

In [178]:
reed_data = reed_data.drop_duplicates(subset=["courseId"]).copy()

In [179]:
len(reed_data)

429

In [180]:
#must check all data insertion is oky or not in values befor updating it on database
values = []
for i in range(reed_data.shape[0]):
#     try:
    date = str(reed_data.iloc[i, 22])
    course_id = int(reed_data.iloc[i, 1])
    title_id = int(reed_data.iloc[i, 29])
    subtitle_id = int(reed_data.iloc[i, 30])
    offer_price = float(reed_data.iloc[i, 6])
    original_price = float(reed_data.iloc[i, 7])
    total_sold = float(reed_data.iloc[i, 8])
    broadcategory1_id = int(reed_data.iloc[i, 31])
    broadcategory2_id = int(reed_data.iloc[i, 32])
    subcategory1_id = int(reed_data.iloc[i, 33])
    subcategory2_id = int(reed_data.iloc[i, 34])
    havecpd = float(reed_data.iloc[i, 10])
    cpdpoint = float(reed_data.iloc[i, 11])
    cpdprovider_id = int(reed_data.iloc[i, 35])
    awardingbody_id = int(reed_data.iloc[i, 36])
    qualname_id = int(reed_data.iloc[i, 37])
    haveprofqual = int(-1)
    isregulated = float(reed_data.iloc[i, 15])
    soldorenq = int(reed_data.iloc[i, 16])
    savings = float(reed_data.iloc[i, 17])
    unit_sold = float(reed_data.iloc[i, 25])
    revenue = float(reed_data.iloc[i, 26])
    top500_rank = float(reed_data.iloc[i, 27])
    top100cat_id = float(reed_data.iloc[i, 28])
    x = tuple([date, course_id, title_id, subtitle_id, offer_price, original_price, total_sold, broadcategory1_id, 
               broadcategory2_id,subcategory1_id, subcategory2_id, havecpd, cpdpoint, cpdprovider_id, awardingbody_id, 
               qualname_id, haveprofqual, isregulated, soldorenq, savings, unit_sold, revenue, top500_rank, top100cat_id])

    values.append(x)
#     except:
#         pass

In [181]:
len(values)

429

In [182]:
values[:2]

[('2023-02-07 00:00:00',
  162300,
  8513,
  27495,
  12.0,
  30.0,
  15261.0,
  588,
  588,
  25,
  25,
  1.0,
  1.0,
  430,
  430,
  430,
  -1,
  0.0,
  1,
  60.0,
  6.0,
  15.0,
  74.0,
  2.0),
 ('2023-02-07 00:00:00',
  314562,
  28282,
  90927,
  12.0,
  0.0,
  3610.0,
  173,
  173,
  96,
  96,
  1.0,
  17.0,
  430,
  430,
  430,
  -1,
  0.0,
  1,
  0.0,
  7.0,
  17.5,
  36.0,
  2.0)]

In [183]:
#updating our large data table in 5 cluster
value_len = len(values)
cluster_size = value_len//5
l1 = 0
for i in range(1, 6):
#     try:
    if i == 5:
        l2 = cluster_size*i + value_len%5 #adding the reminder in the end
    else:
        l2 = cluster_size*i

    query = "INSERT INTO dailyupdate (date, course_id, title_id, subtitle_id, offer_price, original_price, total_sold, broadcategory1_id, broadcategory2_id,subcategory1_id, subcategory2_id, havecpd, cpdpoint, cpdprovider_id, awardingbody_id, qualname_id, haveprofqual, isregulated, soldorenq, savings, unit_sold, revenue, top500_rank, top100cat_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    cursor.executemany(query, values[l1:l2])
    db.commit()
    print(cursor.rowcount, "records inserted")

    print(l1, l2)
    l1 = l2
#     except:
#         print("what is it")

85 records inserted
0 85
85 records inserted
85 170
85 records inserted
170 255
85 records inserted
255 340
89 records inserted
340 429

In [184]:
print("done ", reed_data.iloc[0,0])

done  08_Feb_23

In [786]:
#

In [193]:
#cursor.execute("select * from dailyupdate where date='2022-12-27 00:00:00'")
# current_category_data = np.array(cursor.fetchall())

In [ ]:
#78731

In [198]:
# len(current_category_data)

In [199]:
#pd.DataFrame(current_category_data)

In [200]:
# t1_data

In [201]:
#do not un comment
#cursor = db.cursor()
#cursor.execute("DELETE FROM dailyupdate WHERE date='2022-12-16 00:00:00'")

# cursor.execute("Show full processlist;")
# prl = np.array(cursor.fetchall())
# print(prl)

In [202]:
# current_category_data

In [203]:
# current_category_data[0][1]

In [204]:
# n = []
# for i in current_category_data:
#     n.append(i[1])

In [205]:
# len(n)

In [1830]:
# for i in values:
#     com = "DELETE FROM dailyupdate where date='2022-12-11 00:00:00' AND course_id = "+str(i[1])
#     cursor.execute(com)
#     print(i[1])

In [207]:
# i = 296635

In [208]:
# com = "DELETE FROM dailyupdate where date = '2022-08-09 00:00:00' AND course_id = "+str(i)
# cursor.execute(com)

In [209]:
#DELETE FROM dailyupdate where date = '2022-08-05 00:00:00' AND course_id = '331937'

In [210]:
#len(reed_data[reed_data["Revenue"] > 0])

In [211]:
#reed_data[reed_data["Revenue"] > 0].Revenue.sum()

In [212]:
#reed_data.soldOrEnq = 1

In [213]:
# a = unitsold_data[unitsold_data["soldOrEnq"] == 1]

In [214]:
# unitsold_data.Revenue.sum()

In [215]:
# a.Revenue.sum()

In [216]:
# unitsold_data.Revenue.sum()

In [217]:
# unitsold_data.unitsold.sum()

In [218]:
# for i in values:
#     if i[1] == 244590:
# #         query = "INSERT INTO dailyupdate (date, course_id, title_id, subtitle_id, offer_price, original_price, total_sold, broadcategory1_id, broadcategory2_id,subcategory1_id, subcategory2_id, havecpd, cpdpoint, cpdprovider_id, awardingbody_id, qualname_id, haveprofqual, isregulated, soldorenq, savings, unit_sold, revenue, top500_rank, top100cat_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
# #         cursor.execute(query, i)
#         print(i)

In [132]:
# dl = []
# for i in t1_data[t1_data["courseProvider"] == "Be-a.co.uk"]["courseId"]:
#     dl.append(i)
#     print(i)

In [133]:
# for i in dl:
#     com = "DELETE FROM dailyupdate where date='2022-08-09 00:00:00' AND course_id = "+str(i)
#     cursor.execute(com)
#     print(i)

In [181]:
# unitsold_data.drop(unitsold_data[unitsold_data['courseId'] == "245003"].index, inplace = True)

In [177]:
# a = unitsold_data[unitsold_data["courseProvider"] == "Global Edulink"]

In [193]:
# unitsold_data[unitsold_data["Revenue"] < 0]

In [194]:
# unitsold_data

In [195]:
# unitsold_data[unitsold_data["Revenue"] > 15]

In [196]:
# a = unitsold_data[unitsold_data["Revenue"] < 100]

In [197]:
# a.Revenue.sum()

In [175]:
#a.to_csv("test_test.csv")